.login {
  background-color: var(--primary);
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
  font-size: x-large;
  font-weight: 600;
}

.login-btn {
  background-color: var(--secondary);
}

.login-btn:hover,
.signup-btn:hover {
  opacity: 0.7;
}

.signup-btn {
  background-color: var(--green-bg);
  color: var(--secondary);
}
