.folder {
  color: var(--primary-dark);
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.folder:hover,
.selected-folder {
  background-color: var(--primary);
  border-radius: 5px;
}

.clickable-folder {
  width: 100%;
}
.title {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-dark);
  width: fit-content;
}

.folder-icon,
.add-folder-icon,
.folder-icon-options {
  margin-right: 0.5rem;
  padding: 0.2rem;
  width: 2rem;
  height: fit-content;
}

.folder-icon-options {
  display: flex;
  justify-content: center;
}
.folder-icon-options:hover,
.add-folder-icon:hover {
  background-color: rgb(155, 150, 150);
  border-radius: 4px;
}

.sidebar-options,
.upper,
.lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-dark);
}

.sidebar-options {
  padding: 0.5rem 0.5rem;
  border-right: 1px solid var(--primary);
}

.upper,
.lower {
  gap: 0.5rem;
}

.icon-wrapper .tooltip {
  position: absolute;
  background-color: red;
  padding: 0.5rem 0.7rem;
  margin-left: 3rem;
  margin-top: 0rem;
  z-index: 99;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  opacity: 0;
  display: none;
  border: 1px solid var(--primary-dark);
}

.icon-wrapper .tooltip::before {
  position: absolute;
  left: -0.45rem;
  transform: rotate(45deg);
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  top: 0.7rem;
  z-index: 999;
  background-color: var(--secondary);
  border: 1px solid var(--primary-dark);
  border-width: 0px 0px 1px 1px;
}
.icon-wrapper:hover .tooltip,
.icon-wrapper:hover .tooltip::before {
  opacity: 1;
  transition: ease 0.3s;
  display: block;
}
.tooltip:hover {
  display: none;
}

.custom-folder-list {
  overflow-y: scroll;
}

.sidebar-top-buttons {
  display: flex;
  justify-content: right;
  gap: 1rem;
  width: fit-content;
}

.sidebar-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
}

.custom-folder-list::-webkit-scrollbar {
  display: none;
}

.more-options-folder {
  position: absolute;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  left: 18rem;
  color: var(--primary);
  z-index: 1000000;
  background-color: var(--secondary);
}

.more-options-folder::before {
  content: "";
  height: 11px;
  width: 11px;
  position: absolute;
  left: -0.3rem;
  top: 0.6rem;
  background-color: var(--secondary);
  transform: rotate(45deg);
}
