.folder {
  color: var(--light-bg);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}
.isSubfolder {
  margin-left: 1rem;
}
.hasSubfolders {
  background-color: var(--dark-shadow-blue);
}
