.topbar {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-shadow-blue);
  color: var(--light-bg);
}

.left-topbar {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Rubik Moonrocks", cursive;
}
