@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --primary: #38bdcd;
  --primary-dark: #104145;
  --secondary: #faf9f8;
  --secondary-dark: #f3f2f1;
  font-family: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recording video {
  width: 100%;
}

.capture-content-options {
  height: 90%;
  display: flex;
  width: 100%;
  position: absolute;
  inset: 0;
  padding: 1rem;
}

.button-options {
  display: flex;
  justify-content: center;
}

.button {
  padding: 1rem;
  width: 30%;
  border: none;
  color: var(--secondary-dark);
  border-radius: 3px;
  background-color: var(--primary-dark);
  font-weight: bold;
  margin: 0.5rem;
}

.button:hover {
  background-color: var(--secondary-dark);
  color: #104145;
  box-shadow: 1px 1px 10px 1px var(--primary-dark);
}

.hide {
  display: none;
}
